<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'pybelt_app/css/main.css' %}" media="screen" title="no title" charset="utf-8" />
</head>
<body>
  <a href="/logout">Logout</a>
  <h1>Welcome, {{current_user.name}}!</h1>
  <p>Number of Pokes I poked: {{ pokes }}</p>
  <p>{{ user.poked_by.all|length}} people poked you!</p>

  <p>Activity:</p>
  <div id="activities">
      {% for user in users %}
          <p>{{ user.name }} poked you {{ user.poked.all|length}} times </p>
      {% endfor %}
  </div>
  <h3>People you may want to poke</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Email Address</th>
      <th>Poke History</th>
      <th>Action</th>
    </tr>
  {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.alias }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.poked_by.all|length}} pokes</td>
      <td>
        <form action="/poke/{{ user.id }}" method="post">
          {% csrf_token %}
          <input type="submit" value="Poke {{ user.name }}" />
        </form>
      </td>
    </tr>
  {% endfor %}
  </table>
</body>
</html>
